body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #143200; 
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.search-section,
.results-section {
    padding: 20px;
    margin: 10px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #CBFF55;
}

.search-section {
    flex: 0 0 20%;
    min-width: 300px;
}

.results-section {
    flex: 1;
    color: black;
}

button, input[type="text"], input[type="file"], select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #143200;
}

#suburbInput {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

button {
    background-color: #143200; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #CBFF55; 
    color: #143200;
}

#page-title {
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#resultTable th, #resultTable td {
    font-size: 0.8em; 
    line-height: 1.1em; 
    height: calc(2.2em + 16px); 
    padding: 8px; 
    overflow: hidden;
}


#resultTable th:nth-child(1), td:nth-child(1) { width: 25%; } /* Suburb */
#resultTable th:nth-child(2), td:nth-child(2) { width: 3%; } /* State */
#resultTable th:nth-child(3), td:nth-child(3) { width: 3%; } /* Post Code */
#resultTable th:nth-child(4), td:nth-child(4) { width: 10%; } /* Road Enquiry */
#resultTable th:nth-child(5), td:nth-child(5) { width: 10%; } /* Road Activity */
#resultTable th:nth-child(6), td:nth-child(6) { width: 10%; } /* Priority Enquiry */
#resultTable th:nth-child(7), td:nth-child(7) { width: 10%; } /* Priority Activity */



.results-section thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #143200;
    color: white;
}


.results-section tbody {
    overflow-y: auto;
}


.results-section tbody tr {
    height: 3em; 
    line-height: 1.5em; 
}





.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
}

