/* General Styles */
body {
    font-family: 'Global Sans', sans-serif; /* Updated to Global Sans */
    margin: 0;
    padding: 0;
    background-color: #143200; /* Fern */
    color: #EEEAD9; /* Sand */
}

.container {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 75%;
    box-sizing: border-box;
    margin-right: 20px; /* Space between left and right containers */
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%; /* Ensuring it always takes up 20% of the space */
    min-width: 200px; /* Minimum width to allow shrinking */
    box-sizing: border-box;
}

.text-selector,
.departments-section,
.search-section,
.results-section {
    padding: 20px;
    margin: 10px;
    background-color: #EEEAD9; /* Sand */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #CBFF55; /* Wattle */
}

.text-selector {
    color: #143200; /* Fern */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.search-results-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0; /* Margin between the text-selector and the search-results-container */
}

.search-section {
    flex: 0 0 20%; /* 20% width */
    min-width: 200px; /* Minimum width to allow shrinking */
}

.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.file-input-container input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #143200; /* Fern */
    color: #EEEAD9; /* Sand */
    border: 1px solid #CBFF55; /* Wattle */
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #CBFF55; /* Wattle */
    color: #143200; /* Fern */
}

#fileName {
    color: #143200; /* Fern */
    padding: 10px;
    font-size: 0.8rem;
}

.results-section {
    flex: 1 1 75%; /* 75% width */
    color: #143200; /* Fern */
}

button, input[type="text"], input[type="file"], select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #CBFF55; /* Wattle */
    border-radius: 4px;
    box-sizing: border-box;
    color: #143200; /* Fern */
    background-color: #ffffff; /* White */
}

button {
    background-color: #143200; /* Fern */
    color: #EEEAD9; /* Sand */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #CBFF55; /* Wattle */
    color: #143200; /* Fern */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #ffffff; /* White */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #ffffff; /* White */
}

#department-data th, 
#department-data td {
    background-color: #EEEAD9;
    color: #143200;
    border: 1px solid #143200;
}

#resultTable th, #resultTable td,
#department-data th, #department-data td {
    font-size: 0.8em;
    line-height: 1.1em;
    height: calc(2.2em + 16px);
    padding: 8px;
    overflow: hidden;
}

#resultTable th:nth-child(1), td:nth-child(1) { width: 25%; } /* Suburb */
#resultTable th:nth-child(2), td:nth-child(2) { width: 3%; } /* State */
#resultTable th:nth-child(3), td:nth-child(3) { width: 3%; } /* Post Code */
#resultTable th:nth-child(4), td:nth-child(4) { width: 10%; } /* Road Enquiry */
#resultTable th:nth-child(5), td:nth-child(5) { width: 10%; } /* Road Activity */
#resultTable th:nth-child(6), td:nth-child(6) { width: 10%; } /* Priority Enquiry */
#resultTable th:nth-child(7), td:nth-child(7) { width: 10%; } /* Priority Activity */

#department-data th:nth-child(1), #department-data td:nth-child(1) { width: 70%; } /* Department */
#department-data th:nth-child(2), #department-data td:nth-child(2) { width: 30%; } /* Number */

.results-section thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #143200; /* Fern */
    color: #EEEAD9; /* Sand */
}

.results-section tbody {
    overflow-y: auto;
}

.results-section tbody tr {
    height: 3em;
    line-height: 1.5em;
}

#notePad {
    width: calc(100% - 20px);
    height: 150px;
    margin-top: 10px;
    font-family: 'Global Sans', sans-serif; /* Updated to Global Sans */
    padding: 10px;
    border: 2px solid #143200; /* Fern */
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    resize: vertical;
    color: #333;
}

#versionSelector {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #143200; /* Wattle */
    border-radius: 4px;
    background-color: #FFFFFF; /* Sand */
    color: #143200; /* Fern */
}

.selector-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.selector-buttons button {
    flex-grow: 1;
    margin: 0 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
}

.departments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#department-title {
    font-size: 1.5em;
    text-align: center;
    color: #143200; /* Wattle */
}

/* Media Queries */
@media (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
    }

    .left-container, .right-container {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    .search-results-container {
        flex-wrap: wrap;
    }

    .search-section {
        flex: 0 0 20%; /* Always 20% width */
        min-width: 200px;
    }

    .results-section {
        flex: 1 1 75%; /* Always 75% width */
    }

    textarea#notePad {
        width: 100%;
    }
}

@media (max-width: 480px) {
    table#resultTable th, table#resultTable td {
        padding: 5px;
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .pagination button {
        margin: 5px 0;
    }
}
