body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #143200; /* Lighter background for contrast */
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

/* Section styles */
.search-section,
.results-section,
.text-selector,
.departments-section {
    padding: 20px;
    margin: 10px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #CBFF55;
}

.search-section {
    flex: 1.5;
    min-width: 15%;
}

.results-section {
    flex: 5.5;
    min-width: 55%;
    color: black;
}


.departments-section {
    width: 20%;
    background-color: #ffffff; /* Dark Green background */
    color: rgb(0, 0, 0);
    border: 5px solid #CBFF55;
}

/* Styles for buttons, inputs, and tables */
button, input[type="text"], input[type="file"], select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #143200;
}

button {
    background-color: #143200; /* Dark Green */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #CBFF55; /* Lime Green */
    color: #143200;
}

/* Base styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Important for fixed width columns */
}

/* Styles for table header and cells */
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#resultTable th, #resultTable td {
    font-size: 0.8em; /* Font size for the table cells */
    line-height: 1.1em; /* Adjust line height for better text spacing */
    height: calc(2.2em + 16px); /* Height for two lines of text plus vertical padding */
    padding: 8px; /* Padding inside the cells */
    overflow: hidden;
}


/* Fixed widths for each column */
#resultTable th:nth-child(1), td:nth-child(1) { width: 25%; } /* Suburb */
#resultTable th:nth-child(2), td:nth-child(2) { width: 3%; } /* State */
#resultTable th:nth-child(3), td:nth-child(3) { width: 3%; } /* Post Code */
#resultTable th:nth-child(4), td:nth-child(4) { width: 10%; } /* Road Enquiry */
#resultTable th:nth-child(5), td:nth-child(5) { width: 10%; } /* Road Activity */
#resultTable th:nth-child(6), td:nth-child(6) { width: 10%; } /* Priority Enquiry */
#resultTable th:nth-child(7), td:nth-child(7) { width: 10%; } /* Priority Activity */

#department-data th:nth-child(1), td:nth-child(1) { width: 70%; } /* Department */
#department-data th:nth-child(2), td:nth-child(2) { width: 30%; } /* Number */

/* Styles for table header */
.results-section thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #143200;
    color: white;
}

/* Styles for table body */
.results-section tbody {
    overflow-y: auto;
}


.results-section tbody tr {
    height: 3em; /* Adjust the multiplier according to your line-height to fit two lines */
    line-height: 1.5em; /* This controls the height of each line of text */
}


/* Styles for the notepad */
#notePad {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    height: 150px; /* Set a fixed height */
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 2px solid #143200;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inset shadow for depth */
    background-color: #ffffff; /* White background for the notepad */
    resize: vertical;
    color: #333; /* Dark text for readability */
}

#versionSelector {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff; /* White background for the selector */
    color: #333; /* Dark text for readability */
}

.text-selector {
    flex: 1.5;
    min-width: 15%;
    background-color: #ffffff; /* Lime Green background */
    color: #143200; /* Dark Green text */
    padding: 20px;
    border: 5px solid #CBFF55;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.selector-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.selector-buttons button {
    flex-grow: 1;
    margin: 0 5px; /* Spacing between buttons */
    border: 1px solid transparent; /* Transparent border for a consistent size */
    transition: background-color 0.3s, border 0.3s, color 0.3s; /* Smooth transition for hover effects */
}







/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
}

/* Departments and scroll button styles */
.departments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoContainer {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
}

#infoContent {
    position: absolute;
    top: 0;
    width: 100%;
}

#infoContent div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    color: #333;
    font-family: Arial, sans-serif;
}

#infoContent table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

#infoContent td {
    padding: 5px;
    border: 1px solid #ddd;
}


